h2 {
    /* font-family: 'Nunito Sans', sans-serif; */
    font: 700 30px 'Orbitron', sans-serif;
    color: black;
}

h3 {
    font: 500 20px 'Orbitron', sans-serif;
    color: black;
}

.navbar-dark .navbar-brand {
    font: 30px 'Orbitron', sans-serif;
    color: bisque;
    margin: auto 40px;
    text-shadow: 5px 1px 2px grey;
 }

.nav-link {
    font-family: 'Rubik', sans-serif;
    color: white;
    margin: auto 10px;
}

html, body {
    height: 120%;
}

.background {
    background: url('/static/calculator/background.jpg') no-repeat;
    background-size: auto 120%;
}

.form-style {
    max-width: 23%;
    font: 50% 'Rubik', sans-serif;
    color: grey;
    position: absolute;
    border: 1px solid grey;
    top: 47%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.nice-alert {
    float: left;
    margin: 10% auto auto 48%;
    max-width: 25%;
    font: 50% Rubik;
    text-align: center;
}

.strong-text {
    font-size: 120%;
    color: black;
}

.my-btn {
    width:100px;
}

.box {
    color: #1E8CFB;
    font-size: 16px;
    max-width: 350px;
    border: 1px solid lightsteelblue;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.box-grid {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 85%;
    width: 90%;
}

.second-box-grid {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 85%;
    width: 60%;

}

.bmi-table {
    position: absolute;
    left: 16%;
    top: 50%;  
    opacity: 0.8;
}

.bmi-table th {
    background-color: #bb2d3b;
    color: white;
    font-weight: bold;
    font-size: 70%;
    padding: 8px;
    text-align: left;
}

.td-category {
    background-color: bisque;
    border: 1px solid #ddd;
    color: grey;
    padding: 8px;
    font-size: 70%;
    padding: 10px;
}

.td-number {
    background-color: bisque;
    border: 1px solid #ddd;
    color: #bb2d3b;
    font-weight: bold;
    font-size: 70%;
    padding: 10px;
}

.info {
    font-size: 50%;
    background-color: lightgray;
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 20px;
    border: 3px dotted #bb2d3b;
}

.pal-table {
    position: absolute;
    max-width: 60%;
    left: 12%;
    top: 40%;
    font: bold 50% 'Nunito Sans', sans-serif; 
    color: #666666;
    border: 1px solid grey;
    background-color: #fff;
}

.th-pal {
    font: bold 90% 'Rubik', sans-serif;
    background-color: bisque;
    border: 2px solid #ddd;
    color: black;
    padding: 20px;
}

.pal-box {
    position: absolute;
    top: 110%;
    max-width: 70%;
}

.tmr-info {
    position: absolute;
    top: 10%;
    left: 800px;
    background-color: bisque;
    border: 1px solid black;
    padding: 10px 30px 10px 10px;
    text-align: right;
    width: 43%;
}

.important {
    background-color: bisque;
    color: #bb2d3b;
    height: 70%;
}

.important-text {
    text-align: center;
    font-weight: bold;
}

.navbar-log {
    position: absolute;
    right: 100px;
}

.message-success {
    font-size: 50%;
}