/*  =========
    Variables
    =========
*/
:root {
    --orbitron-font: 'Orbitron', sans-serif;
    --rubik-font: 'Rubik', sans-serif;
    --nunito-font: 'Nunito Sans', sans-serif;

    --black-color: #000;
    --basic-color: #ffe4c4;
    --white-color: #fff;
    --lightgrey-color: #ddd;
    --grey-color: #808080;
    --darkgrey-color: #666666;
    --lightblue-color: #b0c4de;
    --normalblue-color: #1E8CFB;
    --red-color: #bb2d3b;
}

/*  =============
    Global Styles
    =============
*/
html, body {
    height: 120%;
}

.background {
    background-size: auto 120%;
    background: url('/static/calculator/background.jpg') no-repeat;
}

/*  ==========
    Typography
    ==========
*/
h2 {
    color: var(--black-color);
    font: 700 1.875rem var(--orbitron-font);
}

h3 {
    color: var(--black-color);
    font: 500 1.25rem var(--orbitron-font);
}

.navbar-dark .navbar-brand {
    color: var(--basic-color);
    font: 1.875rem var(--orbitron-font);
    margin: auto 2.5rem;
    text-shadow: 0.3125rem 0.0625rem 0.125rem var(--grey-color);
 }

.nav-link {
    color: var(--white-color);
    font-family: var(--rubik-font);
    margin: auto 0.625rem;
}

.strong-text {
    color: var(--black-color);
    font-size: 1.5rem;
}

.important-text {
    font-weight: bold;
    text-align: center;
}

.message-success {
    font-size: 1rem;
}

/*  ==========
    Components
    ==========
*/
.form-style {
    background-color: var(--white-color);
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--grey-color);
    color: var(--grey-color);
    font: 1.25rem var(--rubik-font);
    left: 31.2rem;
    max-width: 20.575rem;
    padding: 1.25rem;
    position: absolute;
    top: 20.90rem;
    transform: translate(-50%, -50%);
}

.nice-alert {
    float: left;
    font: 1.25rem var(--rubik-font);
    margin: 8.1rem auto auto 38.9rem;
    max-width: 20.2rem;
    text-align: center;
}

.my-btn {
    width: 6.25rem;
}

.box {
    background-color: var(--white-color);
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--lightblue-color);
    color: var(--normalblue-color);
    font-size: 1rem;
    max-width: 21.875rem;
    padding: 1.25rem;
}

.box-grid {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 37.75rem;
    width: 81rem;
}

.second-box-grid {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 37.75rem;
    width: 54rem;

}

.bmi-table {
    left: 14.5rem;
    opacity: 0.8;
    position: absolute;
    top: 22.25rem;  
}

.bmi-table th {
    background-color: var(--red-color);
    color: var(--white-color);
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: left;
}

.td-category {
    background-color: var(--basic-color);
    border: 0.0625rem solid var(--lightgrey-color);
    color: var(--grey-color);
    font-size: 0.88rem;
    padding: 0.5rem;
}

.td-number {
    background-color: var(--basic-color);
    border: 0.0625rem solid var(--lightgrey-color);
    color: var(--red-color);
    font-size: 0.88rem;
    font-weight: bold;
    padding: 0.625rem;
}

.info {
    background-color: var(--lightgrey-color);
    border: 0.1875rem dotted var(--red-color);
    font-size: 1.25rem;
    margin: auto;
    padding: 1.25rem;
    text-align: center;
    width: 64.8rem;
}

.pal-table {
    background-color: var(--white-color);
    border: 0.0625rem solid var(--grey-color);
    color: var(--darkgrey-color);
    font: bold 1.25rem var(--nunito-font); 
    left: 10.8rem;
    max-width: 62rem;
    position: absolute;
    top: 17.8rem;
}

.th-pal {
    background-color: var(--basic-color);
    border: 0.125rem solid var(--lightgrey-color);
    color: var(--black-color);
    font: bold 1.125rem var(--rubik-font);
    padding: 1.25rem;
}

.pal-box {
    max-width: 63rem;
    position: absolute;
    top: 48.9rem;
}

.tmr-info {
    background-color: var(--basic-color);
    border: 0.0625rem solid var(--black-color);
    left: 50rem;
    padding: 0.625rem 1.875rem 0.625rem 0.625rem;
    position: absolute;
    text-align: right;
    top: 4.45rem;
    width: 38.7rem;
}

.important {
    background-color: var(--basic-color);
    color: var(--red-color);
    height: 15.6rem;
}

.navbar-log {
    position: absolute;
    right: 6.25rem;
}