/* Variables */

:root {
   /* Fonts */
   --font-rubik: 'Rubik', sans-serif;
   --font-orbitron: 'Orbitron', sans-serif;

   /* Colors */
   --color-basic: #ffe4c4;
   --color-grey: #808080;
   --color-lightgrey: #d3d3d3;
   --color-white: #fff;
   --color-green: #17B169;
}

.navbar-dark .navbar-brand {
    color: var(--color-basic);
    font: 30px var(--font-orbitron);
    margin: 0 40px;
    text-shadow: 5px 1px 2px var(--color-grey);
 }

.signup {
   border-radius: 5px;
   border: 2px solid var(--color-basic);
   font-family: var(--font-rubik);
   font-size: 80%;
   margin: 20px auto 0;
   padding: 15px;
   width: 500px;
}

.login {
   border-radius: 5px;
   border: 2px solid var(--color-basic);
   font-family: var(--font-rubik);
   margin: 50px auto;
   padding: 35px;
   width: 500px;
}

.field-style input{
   border-radius: 5px;
   border: 1px solid var(--color-lightgrey);
   display: block;
   height: 7%;
   margin: 0 auto;
   width: 100%;
}

.submit-button {
   background-color: var(--color-green);
   border-radius: 20px;
   border: 1px solid var(--color-green);
   color: var(--color-white);
   display: block;
   font-family: var(--font-rubik);
   height: 7%;
   margin: 0 auto;
   width: 300px;
}

.space {
   margin-top: 20px;
}