{% extends 'accounts/base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div class="container">
        <form class="login" method="POST" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <h4>Log in</h4>
                <hr>
                <p><div class="field-style">{{ form }}</div><br /></p>
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <input type="submit" class="submit-button" value="Log in" />
                <br />
                <p class="text-center">Not a member? <a href="{% url 'accounts:signup' %}">Signup!</a></p>
        </form>
    </div>
{% endblock %}