{% extends 'calculator/base.html' %}

{% block title %}BMI Calculator{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div id="bmiContainer">
        <button onclick="displayLastBMI()" class="alert alert-info nice-alert">Click and check your last saved BMI value!</button>
        <div id="bmiMessage" class="alert alert-info nice-alert" style="display: none;">
            Your last BMI: 
            <p class="strong-text">
                <br />{{ last_bmi }}
            </p>
        </div>
    </div>

    <script>
        function displayLastBMI() {
            var bmiContainer = document.getElementById("bmiContainer");
            var button = document.querySelector("#bmiContainer button");
            var bmiMessage = document.getElementById("bmiMessage");

            button.style.display = "none";
            bmiMessage.style.display = "block";
        }
    </script>
{% endif %}

<div class="form-style">
    <form method="post">
        {% csrf_token %}
        <h2>BMI Calculator</h2>
        <hr>
        {% if user.is_authenticated %}
            <a href="{% url 'bmi-filled' %}" class="btn btn-info" style="color:white">
                CLICK IF YOU WANT TO FILL OUT THE FORM WITH LAST SAVED DATA
            </a>
            <hr>
        {% endif %}
        <p>{{ form.height.label }}{{ form.height }}<br /></p>
        <p>{{ form.weight.label }}{{ form.weight }}<br /></p>
        <p>{{ form.gender.label }}{{ form.gender }}<br /></p>
        <br />
            <input type="submit" class="btn btn-primary my-btn" value="Calculate" />
            <span/>
            <input type="reset" class="btn btn-danger my-btn" value="Clear" />
        <br />
    </form>
</div>

{% if user.is_authenticated %}
    <table class="form-style bmi-table">
{% else %}
    <table class="form-style bmi-table" style="left:53.5%">
{% endif %}
        <tr>
            <th>Category</th>
            <th>BMI</th>
        </tr>
        <tr>
            <td class="td-category">{{bmi_data}}Severe Thinness</td>
            <td class="td-number"><16</td>
        </tr>
        <tr>
            <td class="td-category">Underweight</td>
            <td class="td-number">16-18.5</td>
        </tr>
        <tr>
            <td class="td-category">Normal weight</td>
            <td class="td-number">18.5–24.9</td>
        </tr>
        <tr>
            <td class="td-category">Overweight</td>
            <td class="td-number">25–29.9</td>
        </tr>
        <tr>
            <td class="td-category">Obese</td>
            <td class="td-number">30-34.9</td>
        </tr>
        <tr>
            <td class="td-category">Severely Obese</td>
            <td class="td-number">35-39.9</td>
        </tr>
        <tr>
            <td class="td-category">Morbidly Obese</td>
            <td class="td-number">>40</td>
        </tr>
    </table>

<section class="box-grid">
    <div class="box">
        <h3>What is the BMI?</h3>
        <br />
        <p>
            BMI is a Body Mass Index calculated from height (in metres) and weight (in kilograms). It is used to determine whether the person's weight is correct or not.
        Generally accepted standards allow for quick and efficient interpretation of results.</p>
    </div>
    <div class="box">
        <h3>Important warnings</h3>
        <br />
        <p>
            It is recommended that the BMI calculator be used by people at least over 14 years old, and the best practise is to use it in adult age. Additionally, it does not work properly on pregnant and lactating women.
        <br /><br />It's also important to take into account that people who exercise, especially people who practice strength exercises (for example weightlifting), may weigh more than the scale accepts, due to the higher amount of muscle tissue. 
        </p>
    </div>
    <div class="box">
        <h3>What to do with the result?</h3>
        <br />
        <p>
            If the weight turns out to be incorrect (too high or even to low) it is always a good idea to talk to a specialist - for example dietitian or personal trainer. 
        <br /><br />If you are overweight, you can always try to lose weight on your own at first by changing the eating style and introducing more physical activity.
        </p>
    </div>
</section>

{% endblock %}