{% extends 'calculator/base.html' %}

{% block title %}BMR Calculator{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div id="bmrContainer">
        <button onclick="displayLastBMR()" class="alert alert-info nice-alert">Click and check your last saved BMR value!</button>
        <div id="bmrMessage" class="alert alert-info nice-alert" style="display: none;">
            Your last BMR: 
            <p class="strong-text">
                <br / />{{ last_bmr }}
            </p>
        </div>
    </div>

    <script>
        function displayLastBMR() {
            var bmrContainer = document.getElementById("bmrContainer");
            var button = document.querySelector("#bmrContainer button");
            var bmrMessage = document.getElementById("bmrMessage");

            button.style.display = "none";
            bmrMessage.style.display = "block";
        }
    </script>
{% endif %}

<div class="form-style">
    <form method="post">
        {% csrf_token %}
        <h2>BMR Calculator</h2>
        <hr>
        {% if user.is_authenticated %}
            <a href="{% url 'bmr-filled' %}" class="btn btn-info" style="color:white">
                CLICK IF YOU WANT TO FILL OUT THE FORM WITH LAST SAVED DATA
            </a>
            <hr>
        {% endif %}
        <p>{{ form.age.label }}{{ form.age }}<br /></p>
        <p>{{ form.gender.label }}{{ form.gender }}<br /></p>
        <p>{{ form.height.label }}{{ form.height }}<br /></p>
        <p>{{ form.weight.label }}{{ form.weight }}<br /></p>
        <br />
            <input type="submit" class="btn btn-primary my-btn" value="Calculate" />
            <span/>
            <input type="reset" class="btn btn-danger my-btn" value="Clear" />
        <br />
    </form>
</div>

<section class="second-box-grid">
    <div class="box">
        <h3>What is the BMR?</h3>
        <br />
        <p>
            BMR is Basal Metabolic Rate. This is the amount of calories that the body needs to survive normally at rest (including for breathing, heart work and cell regeneration).
            <br /><br />BMR does not include any additional activities. To get to know how many calories should you eat a day to keep your weight, lose weight or gain weight, you need to calculate your total metabolic rate (TMR) taking into account your level of physical activity.
            </p>
    </div>
    <div class="box" style="background-color: bisque;">
        <h3>BMR Formula (Harris-Benedict)</h3>
        <br />
        <p>
            <h4 style="color: #bb2d3b;">Formula for men</h4>
            BMR = (10 * weight in kg) + (6.25 * height in cm) - (5 * age in years) + 5
        </p>
        <p>
            <h4 style="color: #bb2d3b;">Formula for women</h4>
            BMR = (10 * weight in kg) + (6.25 * height in cm) - (5 * age in years) - 161
        </p>
    </div>
</section>

{% endblock %}
