{% extends 'calculator/base.html' %}

{% block title %}PAL Calculator{% endblock %}

{% block content %}
<br />
<p class="info">To know your PAL value, you need too look at the table below and select the value with the right description.
Make sure that the description reflects your current level of physical activity. </p>

<table class="pal-table">
    <tr>
        <th class="th-pal">PAL</th>
        <th class="th-pal">Exercise activity (per week)</th>
        <th class="th-pal">Non-exercise activity</th>
    </tr>
    <tr>
        <td class="td-number">1.2</td>
        <td class="td-category">No training</td>
        <td class="td-category">No daily activity (about 2-3 thousand steps a day)</td>
    </tr>
    <tr>
        <td class="td-number">1.3</td>
        <td class="td-category">No training / Training once a week</td>
        <td class="td-category">No daily activity (about 3-4 thousand steps a day)</td>
    </tr>
    <tr>
        <td class="td-number">1.4</td>
        <td class="td-category">Single light workouts</td>
        <td class="td-category">Low level of normal daily activity / desk job</td>
    </tr>
    <tr>
        <td class="td-number">1.5</td>
        <td class="td-category">Single workouts</td>
        <td class="td-category">Moderate level of normal daily activity / mix job</td>
    </tr>
    <tr>
        <td class="td-number">1.6</td>
        <td class="td-category">Training 2-4 times a week</td>
        <td class="td-category">Medium level of normal daily activity / mix job</td>
    </tr>
    <tr>
        <td class="td-number">1.7</td>
        <td class="td-category">Training 3-5 times a week</td>
        <td class="td-category">Medium level of normal daily activity / light physical job</td>
    </tr>
    <tr>
        <td class="td-number">1.8</td>
        <td class="td-category">Training 4-6 times a week</td>
        <td class="td-category">High level of normal daily activity / physical job</td>
    </tr>
    <tr>
        <td class="td-number">1.9</td>
        <td class="td-category">Hard workout 5-7 times a week </td>
        <td class="td-category">High level of normal daily activity / hard physical job</td>
    </tr>
    <tr>
        <td class="td-number">2.0</td>
        <td class="td-category">Hard workout every day</td>
        <td class="td-category">High level of normal daily activity / hard physical job</td>
    </tr>
    <tr>
        <td class="td-number">2.2</td>
        <td class="td-category">Very hard workout every day (or even two times a day)</td>
        <td class="td-category">Generally high level of physical and normal daily activity</td>
    </tr>
</table>
<div class="box pal-box ">
    <h3>What to do with PAL?</h3>
    <br />
    <p>PAL is a Physical Activity Level, which determines the level of daily activity. Now that you know your PAL,
        you can switch to the CPM Calculator to calculate your TMR - Total Metabolic Rate - which is the amount of calories you need daily to maintain your current weight. 
        This values is very helpful when you want to lose weight, as you can determine the right calorie intake for your diet by subtracting some calories from your calculated TMR.</p>
</div>    

{% endblock %}