{% extends 'calculator/base.html' %}

{% block title %}TMR Calculator{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div id="tmrContainer">
        <button onclick="displayLastTMR()" class="alert alert-info nice-alert">Click and check your last saved TMR value!</button>
        <div id="tmrMessage" class="alert alert-info nice-alert" style="display: none;">
            Your last TMR: 
            <p class="strong-text">
                <br / />{{ last_tmr }}
            </p>
        </div>
    </div>

    <script>
        function displayLastTMR() {
            var tmrContainer = document.getElementById("tmrContainer");
            var button = document.querySelector("#tmrContainer button");
            var tmrMessage = document.getElementById("tmrMessage");

            button.style.display = "none";
            tmrMessage.style.display = "block";
        }
    </script>
{% endif %}

<div class="form-style">
    <form method="POST">
        {% csrf_token %}
        <h2>TMR Calculator</h2>
        <hr>
        {% if user.is_authenticated %}
            <a href="{% url 'tmr-filled' %}" class="btn btn-info" style="color:white">
                CLICK IF YOU WANT TO FILL OUT THE FORM WITH LAST SAVED DATA
            </a>
            <hr>
        {% endif %}
        <p>{{ form.age.label }}{{ form.age }}<br /></p>
        <p>{{ form.gender.label }}{{ form.gender }}<br /></p>
        <p>{{ form.height.label }}{{ form.height }}<br /></p>
        <p>{{ form.weight.label }}{{ form.weight }}<br /></p>
        <p>{{ form.pal.label }}{{ form.pal }}<br /></p>
        <br />
            <input type="submit" class="btn btn-primary my-btn" value="Calculate" />
            <input type="reset" class="btn btn-danger my-btn" value="Clear" />
        <br />
    </form>
</div>    

<div class="tmr-info">
    TMR = <a href="{% url 'bmr' %}">BMR</a> * <a href="{% url 'pal' %}">PAL</a>
</div>

<section class="box-grid">
    <div class="box">
        <h3>What is TMR?</h3><br />
        <p>
            Total Metabolic Rate (TMR) is the amount of energy that your body uses in a day to function properly without any issues. 
            This includes your regular daily activities such as exercise, work, walking your dog, and everything else. 
            TMR shows you the precise number of calories that you should consume per day if you want to maintain your current weight. 
            <br /><br />Are you looking to lose weight? Check out the other window for more information on how to achieve this.
        </p>
    </div>
    <div class="box">
        <h3>How to lose weight?</h3><br />
        <p>
            To lose weight, you need to create a caloric deficit. How can you achieve this? 
            There are many different recommended methods, but the most popular way is to subtract approximately 15% of the calories from your calculated TMR.
            <br /><br />
            To make this process easier, you can start by subtracting around 200-300 kcal per day. If your weight doesn't decrease, it's an indication that you need to subtract more calories (for example, 400-500 kcal).
        </p>
    </div>
    <div class="box">
        <h3>How to gain weight?</h3><br />
        <p>
            If you want to increase your weight, start by adding approximately 15% of the calories from your calculated TMR. 
            For example, if your TMR is 2000 kcal, you should aim to eat around 2300 kcal per day. 
            <br /><br />
            You can also simplify this approach by adding 200-300 kcal to your current TMR. Remember that if your weight doesn't change, it's an indication that you need to add even more calories (for instance, 400-500 kcal).
        </p>
    </div>
</section>   

{% endblock %}